*.zip
*.md5
*.pckl
*.csv
*.xlsx
*.gz
*.sdf
*.filepart
__pycache__/
.idea/
*.whl
temp/
figures/
datasets/chembl_raw/
datasets/ChEMBL_STRING/mole_info/
transformers/
text2mol_data/
ckpts/
property_data/
cache/
plot/
pretrain_datasets/
ChemBench/
ChemBench
useful_things.md
run.sh
nohup.out
*.log
openai_api_key.json
prompts_backup/
prompt_data/mol_cluster.csv
prompt_data/mole_graph_property.csv
